


<div class="container-fluid quiz-menu">
  <div class="row">
    <div class="col-sm-12">
      <h1>問題検索フォーム</h1>
      <form>
        <div class="form-group">
          <input type="text" class="foum-group" placeholder="検索">
        </div>
      </form>
    </div>
  </div>
</div>

<%= render 'quizzes/quizzes', quizzes: @quizzes %>

<div class="container quiz-wrapper">
  <%= form_with model: @quiz, local: true do |form| %>
    <%= form.text_area :title %>
    <%= form.file_field :quiz_image %>
    <%= form.file_field :answer_image %>
    <%= form.submit %>
  <% end %>
</div>

<%= link_to '問題一覧へ', quizzes_path, class: 'btn btn-primary btn-lg' %>

