<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">ロゴ room-anatomy</a>
  <div class="navbar-nav">
    <a href="#">検索</a>
  </div>
</nav>


<div class="container quiz-menu">
  <div class="row">
    <div class="col-sm-12">
      <h1>問題検索フォーム</h1>
      <form>
        <div class="form-group">
          <input type="text" class="foum-group" placeholder="検索">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container quiz-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h2>新着の問題一覧</h2>
      <div class = "row">
        <% @quizzes.each do |quiz| %>
          <div class = "col-sm-4">
            <h3><%= quiz.title %></h3>
            <% if quiz.image.attached? %>
              <%= image_tag quiz.image %>
            <% end %>
            <% if quiz.image_answer.attached? %>
              <%= image_tag quiz.image_answer %>
            <% end %>
            <p><%= quiz.sentence %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container quiz-wrapper">
  <%= form_with model: @quiz, local: true do |form| %>
    <%= form.text_area :title %>
    <%= form.file_field :image %>
    <%= form.file_field :image_answer %>
    <%= form.submit %>
  <% end %>
</div>



